<div class="page-content">
    <div class="content-block">
        <div class="row">
            <div class="col-50">
                <a href="#" class="button button-fill color-green" ng-click="createCourse()">Create Course</a>
            </div>
            <div class="col-50">
            </div>
        </div>
    </div>

    <div class="content-block-title">Your Courses</div>
    <div class="list-block media-list">
        <ul>
            <li ng-repeat="c in rootMyCourseList.list">
                <a href="#" class="item-link item-content" ng-click="courseAction(c)">
                    <div class="item-media"><img ng-src="{{c.fileCover}}" width="100"></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{c.name}}</div>
                            <div class="item-after">{{c.json.lessons.length}}</div>
                        </div>
                        <div class="item-text">{{c.json.comment}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

