<div class="page-content">
    <div class="list-block inset">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="Name" ng-model="rootTargetCourse.target.name">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="Description" ng-model="rootTargetCourse.target.json.comment">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="content-block">
        <a href="#" class="button button-fill color-green" ng-click="addLesson()">Add Lesson</a>
    </div>

    <div class="content-block-title">Course Content</div>
    <div class="list-block">
        <ul>
            <li ng-repeat="le in rootTargetCourse.target.json.lessons">
                <a href="#" class="item-link item-content" ng-click="lessonAction($index, rootTargetCourse.target.json.lessons)">
                    <div class="item-media">
                        {{$index + 1}}
                    </div>
                    <div class="item-inner">
                        <div class="item-title">{{le.name}}</div>
                        <div class="item-after">
                            <span ng-if="le.imf" class="badge" style="margin-right: 5px;">I</span>
                            <span ng-if="!le.imf" class="badge" style="margin-right: 5px;">E</span>
                            <span class="badge">{{le.json.steps.length}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

