<div class="page-content">

    <div class="content-block-title">Upload Lesson</div>
    <div class="content-block inset">
        <div class="content-block-inner">
            <input type="file" nv-file-select="" uploader="uploader"/>

            <div ng-repeat="item in uploader.queue" ng-show="uploader.queue.length > 0">
                <div>{{item.file.name}}</div>
                <div>{{ uploader.queue[0].file.size / 1024 / 1024|number:2 }} MB</div>
                <div class="row">
                    <div class="col-50">
                        <a href="#" class="button button-fill color-green"
                           ng-click="doUpload()"
                           ng-disabled="!uploader.getNotUploadedItems().length">Upload</a>
                    </div>
                    <div class="col-50">
                        <a href="#" class="button button-fill color-red"
                           ng-click="uploader.clearQueue()"
                           ng-disabled="!uploader.queue.length">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-block-title">Your Lessons</div>
    <div class="list-block">
        <ul>
            <li ng-repeat="le in rootMyLessonList.list">
                <a href="#" class="item-link item-content" ng-click="lessonAction(le)">
                    <div class="item-inner">
                        <div class="item-title">{{le.name}}</div>
                        <div class="item-after">
                            <span ng-if="le.imf" class="badge" style="margin-right: 5px;">I</span>
                            <span ng-if="!le.imf" class="badge" style="margin-right: 5px;">E</span>
                            <span class="badge">{{le.json.steps.length}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>

