<div class="page-content">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-80"><img src="img/openwords_logo_c_horizontal_squish_transparent_background_2016-06-04.png" style="width: 100%;"/></div>
        <div class="col-10"></div>
    </div>

    <form id="my-login-form" class="list-block" style="margin-top: 30%;">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="text" placeholder="Account" name="username">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                    <div class="item-inner">
                        <div class="item-input">
                            <input type="password" placeholder="Password" name="pass">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>

    <div class="content-block row">
        <div class="col-50"></div>
        <a href="#" class="button button-login col-50" ng-click="login()">Log In</a>
    </div>
    <div class="content-block row">
        <div class="col-50"></div>
        <a href="#registration" class="button button-login col-50">Register</a>
    </div>
    <div class="content-block row">
        <div class="col-50"></div>
        <a href="#" class="button button-login col-50" ng-click="full()">Fullscreen (only works in Chrome)</a>
    </div>
    <div style="text-align: center; color: #ffffff; font-size: 10px;">v0.1.5</div>
</div>