<div class="content-block-title">Choose a lesson</div>
<div class="list-block close-popup">
    <ul>
        <li ng-repeat="le in rootMyLessonList.list">
            <a href="#" class="item-link item-content" ng-click="addLessonFromPool(le)">
                <div class="item-inner">
                    <div class="item-title">{{le.name}}</div>
                    <div class="item-after">
                        <span ng-if="le.imf" class="badge" style="margin-right: 5px;">I</span>
                        <span ng-if="!le.imf" class="badge" style="margin-right: 5px;">E</span>
                        <span class="badge">{{le.json.steps.length}}</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="content-block" ng-if="!rootMyLessonList.list.length">
    <p>You don't have any lesson yet, go to <a href="#" class="close-popup" ng-click="goToLessonManager()">Lesson Manager</a> to upload your lessons.</p>
</div>
<div class="content-block">
    <p><a href="#" class="close-popup">Cancel</a></p>
</div>