<!DOCTYPE html>
<html>
    <head>
        <title>Openwords</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/string.min.js"></script>
        <script src="ng/angular.min.1.5.js"></script>
        <script src="ng/angular-sanitize.min.js"></script>
        <script src="ng-tags-input/ng-tags-input.min.js"></script>
        <script>

                    var App = angular.module("RootPage", ["ngTagsInput", "ngSanitize"]);</script>
        <script src="ng/control_lesson.js"></script>
        <script src="file-saver/FileSaver.min.js"></script>
        <script src="bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap-3.1.1/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="ng-tags-input/ng-tags-input.min.css" type="text/css">
        <style>
            .answer-item{
                margin-left: 5px;
                padding: 3px;
                background-color: #0f9d58;
                color: #ffffff;
            }
            .problem-item{
                margin-left: 5px;
                padding: 3px;
                background-color: #03a9f4;
                color: #ffffff;
            }
            .marplot-item{
                margin-left: 5px;
                padding: 3px;
                background-color: #f8a724;
                color: #ffffff;
            }
            .line{
                margin: 5px;
            }

        </style>
    </head>
    <body>
        <div ng-app="RootPage" ng-controller="RootControl"style="margin-top: 50px;">
            <div class="row" style="width: 100%;">
                <div class="col-xs-1 col-md-3"></div>
                <div class="col-xs-10 col-md-6">
                    <hr/>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <p style="font-size: 32px; text-align: center;">
                                Creating a Lesson
                            </p>
                            <hr/>
                            <div ng-repeat="p in lesson">
                                <div ng-show="p.done" class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <h3 style="font-size: 24px;">
                                            Problem {{$index + 1}}
                                        </h3>
                                        <p>Problem Type: {{p.pType}}</p>
                                        <div ng-repeat="lines in p.problemLines" class="line">
                                            <span>
                                                Problem-Line:
                                            </span>
                                            <span ng-repeat="item in lines.items track by $index"
                                                  class="problem-item">
                                                {{item}}
                                            </span>
                                        </div>
                                        <div ng-repeat="answer in p.answers" class="line">
                                            <span>
                                                Answer-for-Blank-{{$index + 1}}:
                                            </span>
                                            <span ng-repeat="item in answer.items"
                                                  class="answer-item">
                                                {{item}}
                                            </span>
                                        </div>
                                        <div class="line">
                                            <span>
                                                Wrong-Answer/s
                                            </span>
                                            <span ng-repeat="item in p.marplots.items"
                                                  class="marplot-item">
                                                {{item}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-5" style="margin: 5px;">
                                        <h4 style="font-size: 16px;">"Problem UI Preview"</h4>
                                        <h4 style="font-size: 14px;">(only a suggestion)</h4>
                                        <div style="background-color: #33ac71; color: #ffffff; padding: 5px;">
                                            <div ng-repeat="line in p.problemLines" class="line">
                                                <div ng-bind-html="displayProblemLine(line)"></div>
                                            </div>

                                            <div style="background-color: #ffffff; margin-top: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 10px;">
                                                <span ng-repeat="answer in p.answerDisplay track by $index"
                                                      class="badge btn-success" 
                                                      style="margin: 5px;">
                                                    {{answer}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-hide="p.done">
                                    <h3 style="font-size: 24px;">
                                        New Problem
                                    </h3>
                                    <div>
                                        Problem Type:&nbsp;
                                        <select ng-model="p.pType" ng-change="updateType(p)">
                                            <option value="sm">Simple Multiple Choice</option>
                                            <option value="ss">Simple Sentence</option>
                                            <option value="fb">Advanced Fill in Blank</option>
                                        </select>
                                    </div>
                                    <div ng-repeat="lines in p.problemLines" class="line">
                                        <span ng-if="p.pType === 'fb'">
                                            Problem-Line:
                                        </span>
                                        <span ng-if="p.pType === 'sm'">
                                            Native Language (question):
                                        </span>
                                        <span ng-if="p.pType === 'ss'">
                                            Sentence in native language (problem):
                                        </span>
                                        <div ng-if="p.pType === 'fb'" style="margin: 10px; margin-bottom: 20px;" class="row">
                                            <tags-input ng-model="lines.tags" min-length="1" min-tags="1" add-on-comma="false"
                                                        placeholder="Add an item" replace-spaces-with-dashes="false"
                                                        key-property="id" display-property="text"
                                                        on-tag-added="problemItemAdded(p)" class="col-xs-12 col-md-7"></tags-input>
                                            <button ng-click="addBlankItem(p, lines)" class="btn col-xs-12 col-md-3">Insert a blank item</button>
                                        </div>
                                    </div>
                                    <input type="text" ng-if="p.pType === 'sm' || p.pType === 'ss'" ng-model="p.problemLines[0].tags[0].text" class="line"/>

                                    <button ng-click="addProblemLine(p.problemLines)" class="btn btn-info" style="margin-bottom: 15px;"
                                            ng-if="p.pType === 'fb'">Add an additional problem line</button>
                                    <div ng-repeat="answer in p.answers" class="line">
                                        <span ng-if="p.pType === 'fb'">
                                            Answer-for-Blank-{{$index + 1}}:
                                        </span>
                                        <span ng-if="p.pType === 'sm'">
                                            Second Language (answer):
                                        </span>
                                        <span ng-if="p.pType === 'ss'">
                                            Sentence in second language (answer) (enter key for new item):
                                        </span>
                                        <tags-input ng-if="p.pType === 'fb'" ng-model="answer.tags" min-length="1" min-tags="1" add-on-comma="false"
                                                    replace-spaces-with-dashes="false"
                                                    placeholder="Add an item"></tags-input>
                                    </div>
                                    <input type="text" ng-if="p.pType === 'sm'" ng-model="p.answers[0].tags[0].text" class="line"/>
                                    <div>
                                        <tags-input ng-if="p.pType === 'ss'" ng-model="p.answers[0].tags" min-length="1" min-tags="1" add-on-comma="false"
                                                    replace-spaces-with-dashes="false"
                                                    key-property="id" display-property="text"
                                                    on-tag-added="sentenceItemAdded(p.answers[0].tags)"
                                                    placeholder="Enter the sentence by items"></tags-input>
                                    </div>

                                    <div class="line">
                                        <span>
                                            Wrong-Answer/s (enter key for new item):<br/>
                                            (the incorrect answers that you want the learner to see)
                                        </span>
                                        <tags-input ng-model="p.marplots.tags" min-length="1" min-tags="1" add-on-comma="false"
                                                    replace-spaces-with-dashes="false"
                                                    placeholder="Add an item"></tags-input>
                                    </div>
                                    <button ng-click="confirmProblem(p)" class="btn btn-warning">Save this problem</button>
                                </div>

                                <button class="btn btn-danger" style="margin-top: 10px;"
                                        ng-show="p.done"
                                        ng-click="deleteProblem($index)">Delete this problem</button>

                                <hr/>

                                <div ng-show="showLastAdd($index)">
                                    <button class="btn" ng-click="addNextProblem()">Add next problem</button>
                                    <hr/>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-success" ng-click="downloadLesson()">Download this Lesson to our format</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-1 col-md-3"></div>
            </div>

        </div>
    </body>
</html>
